.email-preview {
    display: flex;
    justify-content: flex-start;
    padding-inline: 20px;
    padding-block: 20px;
    cursor: pointer;
}

.email-preview:hover {
    background-color: gray;
}

.email-preview-subject {
    flex-basis: 40%;
}

.email-preview-body {
    flex-basis: 40%;
}

.email-preview-send-date {
    flex-basis: 10%;
    text-align: center;
}

.email-preview-read-state {
    margin-left: auto;
}

.email-preview-read-state.unread {}