@import url('./note-todos.css');

/* LIST */
.notesList {
	display: grid;
	grid-auto-flow: dense;
	grid-gap: 6em;
	max-width: 100%;
	/* grid-template-rows: repeat(6, minmax(100px, 1fr)); */
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	/* grid-template-rows: repeat(5, 1fr); */
	/* border: 1px solid black; */
}

.note-container {
	position: relative;
}

.note {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: justify;
	text-align: center;
	align-items: center;
	margin-bottom: 20px;
	object-fit: cover;

	width: 200px;
	min-height: 200px;

	padding: 2px;
	border-radius: 10px;

	box-shadow: 0 1px 2px 0 #10444073, 0 1px 3px 1px rgba(26, 115, 232, 0.302);
	transition: 0.8s ease;
}

.note:hover {
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.note-control-panel {
	position: absolute;
	display: flex;
	bottom: -5px;
	left: 0;
	right: 0;
	justify-content: space-between;
}

/* ALL NOTES */

button.button-keep {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

img.keep-button-img {
	width: 15px;
	height: 15px;
	position: relative;
	left: 0;
	cursor: pointer;
}

.keep-add-text {
	text-align: center;
	margin-bottom: 5px;
}

/* COLOR CIRCLES */
.circle {
	border-radius: 50%;
	height: 15px;
	width: 15px;
	display: inline-block;
}

.circle-pink {
	background-color: lightcoral;
}
.circle-gray {
	background-color: gray;
}
.circle-lightblue {
	background-color: lightblue;
}
.circle-lightgreen {
	background-color: lightgreen;
}

/* .note-preview {
	width: 100px;
	height: 100px;
	background-color: green;
} */

/* PARTICULAR NOTE DEFS */
.note-img {
	grid-column: span 2;
}

.note-txt {
	display: inline-block;
}

.keep-video {
	/* padding-top: 10px; */
	/* object-fit: fill; */
	object-fit: contain;
	max-width: 95%;
	border-radius: 8px;
}

.note-todos {
	text-align: left;
	display: inline-block;
}

.todos-completed {
	font-size: small;
	font-style: italic;
}

.completed {
	text-decoration: line-through;
}

/* MEDIA QUERIES */

@media (max-width: 450px) {
	/* .notesList {
		/* grid-template-rows: repeat(3, minmax(100px, 1fr)); */
	/* grid-template-columns: 1fr; */
	/* align-content: center; */
	/* } */
	.note-container {
		display: flex;
		justify-content: center;
	}
}
