@import url('./note-todos.css');

/* LIST */
button.button-keep {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

img.pin {
	width: 15px;
	height: 15px;
	position: relative;
	left: 0;
	cursor: pointer;
}

/* COLOR CIRCLES */
.circle {
	border-radius: 50%;
	height: 15px;
	width: 15px;
	display: inline-block;
}

.circle-yellow {
	background-color: yellow;
}
.circle-gray {
	background-color: gray;
}
.circle-lightblue {
	background-color: lightblue;
}

/* ALL INPUTS */
input.input-keep {
	background-color: whitesmoke;
	border-radius: 8px;
}

/* VIDEO - CMP */
.keep-video {
	padding-top: 10px;
	object-fit: fit;
	max-width: 90%;
	border-radius: 8px;
}

.notesList {
	/* height: 100vh; */
	margin: 10px;
	display: grid;
	grid-auto-flow: dense;
	grid-gap: 9em;
	grid-template-columns: repeat(5, 100px);
	grid-template-rows: repeat(5, 1fr);
}

.add-section {
	margin-bottom: 5px;
}

/* .note-preview {
	width: 100px;
	height: 100px;
	background-color: green;
} */

.note {
	width: 200px;
	min-height: 200px;
	background-color: lightblue;
	align-items: center;
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: justify;
	padding: 10px;
}

/* .note img {
	object-fit: contain;
} */

.keep-img {
	padding-top: 5px;
	object-fit: contain;
	max-width: 90%;
	border-radius: 10px;
}
