/* INPUTS */
input.input-keep {
	/* background-color: whitesmoke; */
	background-color: #f1f3f4;
	width: 80%;
	border: 1px solide #9999997c;

	outline: none;
	border: none;
	border-bottom: 1px solid gray;
}

/* TODOS CMPS - TODOS */

.input-keep-todo {
	width: 70%;
	/* background-color: whitesmoke; */
	background-color: #f1f3f4;

	outline: none;
	border: none;
	border-bottom: 1px solid gray;
	margin-bottom: 5px;
}

.tooltip {
	position: relative;
	display: flex;
	justify-content: center;
}

.boldTxt {
	font-weight: bold;
}

/* MODAL */
.modal-container {
	inset: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.keep-modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 100px;
	width: 700px;
	background-color: #f1f3f4;
	border: 1px solid gray;
}

/* ALL FORMS */
.keep-form {
	/* background-color: whitesmoke; */
	max-width: 300px;
	border-radius: 8px;
	margin: 0 auto;
	padding: 10px;
	/* text-align: center; */
}

/* .keep-form-todos {
	max-width: 450px;
	display: flex;
	flex-direction: column;
} */

/* ALL IMGS */
.keep-img {
	padding-top: 5px;
	object-fit: contain;
	max-width: 90%;
	border-radius: 10px;
}

.keepApp-header {
	display: flex;
	/* max-width: 900px; */
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding-block-start: 60px;
}

.header-control {
	width: 100%;
	background-color: #f1f3f4;
	margin-bottom: 20px;
	position: relative;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}
.note-add-control-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* SEARCH FILTER */
.note-search-bar {
	/* background-color: yellow; */
	text-align: center;
	padding: 10px;
	position: relative;
	border-radius: 10px;
	background-color: #f1f3f4;
	margin-bottom: 5px;
}

.note-search-bar input {
	outline: none;
	border-radius: unset;
	border: none;
	border-bottom: 1px solid gray;
}

.search-bar-container {
	width: 200px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
}

/* ADD NOTE SECTION */

.add-section {
	/* width: 200px; */
	margin-bottom: 5px;
	text-align: center;
	/* background-color: whitesmoke; */
}
