.email-app {
    display: flex;
    height: 90vh;
    padding-block-start: 10px;
}

.email-empty-list {
    flex-basis: 50%;
    padding-inline: 20px;
    padding-block: 20px;
}

.modal-container {
    inset: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-block-start: 10px;
    padding-block-end: 10px;
    padding-inline: 25px;
    height: 600px;
    width: 700px;
    background-color: #fff;
    border-radius: 15px;
    border: 5.5px solid #9c9c9c;
}

.btn-email-compose {
    width: 100px;
    height: 100px;
}